.side {
  /* background-color: rgba(35, 55, 75, 0.9); */
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 12px;
  /* left: 100px; */
  margin: 12px;
  border-radius: 4px;
}
